<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Connect Port</key>
	<string>8000</string>
	<key>TCP Connect</key>
	<false/>
	<key>Connect Host</key>
	<string>sz3.tencent.com</string>
</dict>
</plist>
